[include mainsail.cfg]

# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
#
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.


################################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_200020001647393530343239-if00

[mcu z]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_240036000147393438343535-if00

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


################################################################################

[stepper_x]
# B motor
enable_pin: !PE3
step_pin: PE2
dir_pin: PE1

microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200 # 1.8 degree stepper

homing_speed: 25 # max 100
homing_retract_dist: 5
homing_positive_dir: true

# FIXME
endstop_pin: PC1

position_min: 0
position_endstop: 250
position_max: 250

[tmc2209 stepper_x]
uart_pin: PE0
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


################################################################################

[stepper_y]
enable_pin: !PD6
step_pin: PD5
dir_pin: !PD4

microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200 # 1.8 degree stepper

homing_speed: 25 # max 100
homing_retract_dist: 5
homing_positive_dir: true

# FIXME
endstop_pin: PC3

position_min: 0
position_endstop: 250
position_max: 250

[tmc2209 stepper_y]
uart_pin: PD3
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


################################################################################

[stepper_z]
# Front Left motor in z:XM
enable_pin: !z:PE3
step_pin: z:PE2
dir_pin: z:PE1

gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

endstop_pin: z:PC0

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.5

position_min: -5
position_max: 230

homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: z:PE0
interpolate: False
run_current: 0.800
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
# Back Left motor in z:YM
enable_pin: !z:PD6
step_pin: z:PD5
dir_pin: z:PD4

gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

[tmc2209 stepper_z1]
uart_pin: z:PD3
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
# Back Right motor in z:ZM
enable_pin: !z:PD1
step_pin: z:PA15
dir_pin: !z:PA8

gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

[tmc2209 stepper_z2]
uart_pin: z:PD0
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
# Front Right motor in z:E0
enable_pin: !z:PC7
step_pin: z:PD15
dir_pin: z:PD14

gear_ratio: 80:16
microsteps: 32
rotation_distance: 40

[tmc2209 stepper_z3]
uart_pin: z:PC6
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


################################################################################

[extruder]
enable_pin: !PC7
step_pin: PD15
dir_pin: PD14
microsteps: 16
rotation_distance: 35.49256
gear_ratio: 5.18:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: SliceEngineering 450
sensor_pin: PA2
control: pid
pid_kp: 26.213
pid_ki: 1.304
pid_kd: 131.721
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC6
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0


################################################################################

[heater_bed]
heater_pin: PB7
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 110
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


################################################################################

[heater_fan hotend_fan]
pin: PB5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 20.0

[fan]
pin: PB6
off_below: 0.10


################################################################################

[probe]
pin: ^PE4
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0

samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


################################################################################

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1


################################################################################

[display]
lcd_type: uc1701
cs_pin: z:PB1
a0_pin: z:PE9
rst_pin: z:PE10
contrast: 63
encoder_pins: ^z:PB2, ^z:PE7
click_pin: ^!z:PB0
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
# Alternatively, some micro-controller boards may work with software spi:
spi_software_miso_pin: z:PA6
spi_software_mosi_pin: z:PA7
spi_software_sclk_pin: z:PA5

[output_pin beeper]
pin: z:PC5

[neopixel btt_mini12864]
pin: z:PE11
chain_count: 3
color_order: RGB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

#	Set RGB values on boot up for each Neopixel. 
# Index 1 = Left Dial
# Index 2 = Right Dial
# Index 3 = Screen
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3 


################################################################################

[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: !PC2


################################################################################

[output_pin caselight]
pin: PD7
pwm: true
shutdown_value: 0
value: 0
cycle_time: 0.01
